{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor , show_rating: section.settings.show_rating, show_secondary_image: section.settings.show_secondary_image%}
{% endcomment %}

{% if card_product and card_product != empty %}
  <a class="card" href="{{ card_product.url }}">
    <div class="card__image">
      <img
        src="{{ card_product.featured_image | img_url: 'medium' }}'"
        loading="lazy"
        alt="{{ card_product.featured_image.alt }}"
      >
      {% assign daysThreshold = 1 %} // Anzahl der Tage, die ein Produkt als "neu" betrachtet wird

      {% if show_badge %}
        {% if card_product.compare_at_price %}
          <span class="badge sales">Sale</span>
        {% endif %}
        {% unless card_product.available %}
          <span class="badge sold-out">Sold Out</span>
        {% endunless %}
        {% capture currentDate %}{{ 'now' | date: '%s' }}{% endcapture %}
        {% capture productDate %}{{ card_product.created_at | date: '%s' }}{% endcapture %}
        {% assign daysSinceCreation = currentDate | minus: productDate | divided_by: 86400 %}
        {% if daysSinceCreation <= daysThreshold %}
          <span class="badge new">New</span>
        {% endif %}
      {% endif %}
    </div>
    <div class="card__content">
      {% if show_vendor %}
        <p class="card__vendor">{{ card_product.vendor }} - {{ card_product.type }}</p>
      {% endif %}
      {% if show_rating %}
      {% endif %}
      <h3 class="card__title">{{ card_product.title }}</h3>
      <div class="product-price">
        {% if card_product.compare_at_price %}
          <span class="compare-at-price">{{ card_product.compare_at_price | money }}</span>
        {% endif %}
        <span>{{ card_product.price | money }}</span>
      </div>
    </div>
  </a>
{% endif %}
