{{ 'section-product.css' | asset_url | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<div
  id="ProductSection-{{ section_id }}-{{ product.id }}"
  class="product-section"
>
  <div class="page-width">
    <div class="product-content">
      <div class="product--medias">
        <div class="product--medias__preview">
          {% if product.selected_or_first_available_variant.featured_image %}
            {% assign featured = product.selected_or_first_available_variant.featured_image %}
            <img id="product-image" src="{{ featured | image_url }}">
          {% else %}
            {% assign featured = product.featured_image %}
            <img id="product-image" src="{{ featured | image_url }}">
          {% endif %}
        </div>
        <ul class="product--medias__thumbnail">
          {% for image in product.images %}
            <li class="{% if image == featured %}selected{% endif %}"><img src="{{ image | image_url: master }}"></li>
          {% endfor %}
        </ul>
      </div>

      <!-- PRODUKT INFORMATION -->
      <div class="product--information">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'vendor' %}
              <h6 class="product--vendor">{{ product.vendor }}</h6>
            {% when 'rating' %}

            {% when 'title' %}
              <h1 class="product--title">{{ product.title }}</h1>
            {% when 'price' %}
              <div class="product--prices">
                {% if current_variant.compare_at_price > current_variant.price %}
                  <p class="product--prices__compare">{{ current_variant.compare_at_price | money }}</p>
                {% endif %}
                <p class="product--prices__price">{{ current_variant.price | money }}</p>
              </div>
            {% when 'in_stock' %}
              {% render 'product-instock', product: current_variant %}

            {% when 'variant_selector' %}

            {% when 'quantity' %}

            {% when 'description' %}
              <p class="product--description">
                {{ product.description }}
              </p>
            {% when 'buy_buttons' %}
              {% render 'buy-buttons',
                block: block,
                product: product,
                product_form_id: product_form_id,
                section_id: section.id,
                show_pickup_availability: true
              %}
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
