{{ 'section-header.css' | asset_url | stylesheet_tag }}

  <header class="navigation">
  <div class="page-width">
    <nav class="navigation-content">
      <div class="navigation-logo">
        <a href="#">{{ shop.name }}</a>
      </div>
      <div class="navigation-list">
        <ul>
          {% for link in section.settings.menu.links %}
            <li>
              <a href="{{ link.url }}">
                <span>{{ link.title }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="navigation-icons">
        {% if section.settings.searchform == true %}
          <i class="bx bx-search"></i>
        {% endif %}

        <i class="bx bx-user"></i>
        <i class="bx bx-shopping-bag">
          <span>{{ cart.item_count }}</span>
        </i>
        <div class="navigation-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </div>
    </nav>
  </div>

  <div class="sidebar-overlay"></div>
  <!-- Neues Element für die Sidebar-Overlay-Hintergrund -->
  <div class="sidebar-menu">
    <div class="sidebar-header">
      <a href="#">{{ shop.name }}</a>
    </div>
    <ul class="sidebar-list">
      {% for link in section.settings.menu.links %}
        <li>
          <a href="{{ link.url }}">
            <span>{{ link.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</header>

{% schema %}
  {
    "name": "t:sections.header.name",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }, {
        "type": "checkbox",
        "id": "searchform",
        "default": true,
        "label": "t:sections.header.settings.searchform.label"
      }
    ]
  }
{% endschema %}