{% comment %}
  template-feature-showcase.liquid
  ---------------------------
  Dieses Template dient zur Darstellung eines "Feature Showcase"-Abschnitts.
{% endcomment %}
{{ 'template-feature-showcase.css' | asset_url | stylesheet_tag }}

{% style %}
  .feauture-showcase-section{
    background-color: {{ section.settings.background_color }} !important;
  }
{% endstyle %}

<div class="feauture-showcase-section section-{{ section.id }}">
    <div class="page-width">
        <div class="title">
            {% if section.settings.title != blank %}
                {% assign titleAlign = section.settings.title_align %}
                <h2 class="title{% if titleAlign %} text-{{ titleAlign }}{% endif %}">
                    {{ section.settings.title }}
                </h2>
            {% endif %}
        </div>

        <div class="description">
            {% if section.settings.description != blank %}
                <h5 class="description{% if titleAlign %} text-{{ titleAlign }}{% endif %}">
                    {{ section.settings.description }}
                </h5>
            {% endif %}
        </div>

        <div class="container">
            <div class="showcase-content">
                <div class="showcase-container">
                    {% for block in section.blocks %}
                        {% if block.type == 'showcase_block' %}
                            {% assign showcaseImage = block.settings.showcase_image %}
                            {% assign showcaseTitle = block.settings.title %}
                            {% assign showcaseDescription = block.settings.description %}
                            <div class="showcase-image {% if forloop.first %}active{% else %}hidden{% endif %}">
                                {% if showcaseImage != blank %}
                                    <img src="{{ showcaseImage | img_url: 'medium' }}" alt="{{ showcaseImage.title }} Image" class="carousel-item">
                                {% else %}
                                    {{ 'collection-6' | placeholder_svg_tag }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="showcase-texts-container">
                    <ul class="showcase-list">    
                        {% for block in section.blocks %}
                            {% if block.type == 'showcase_block' %}
                                <li arial-role="button" class="carousel-trigger {% if forloop.first %}active{% endif %}">
                                    <span>{{ forloop.index | append: " " }}</span>
                                    <div>
                                        <h3 class="showcase-title">{{ showcaseTitle }}</h3>
                                        <h5 class="showcase-description">{{ showcaseDescription }}</h5>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const showcaseTexts = document.querySelectorAll('.carousel-trigger');
    const showcaseImages = document.querySelectorAll('.showcase-image');

    let currentIndex = 0;

    // Funktion zum Aktualisieren des Anzeigebildes und des aktiven Listenelements
    function updateShowcase(index) {
        showcaseImages.forEach(image => {
            image.classList.add('hidden');
            image.classList.remove('active');
        });

        showcaseTexts.forEach(t => t.classList.remove('active'));

        showcaseImages[index].classList.remove('hidden');
        showcaseImages[index].classList.add('active');
        showcaseTexts[index].classList.add('active');
    }

    // Setze das erste Listenelement und Bild als aktiv
    updateShowcase(currentIndex);

    // Funktion für das Autoplay
    function autoplay() {
        currentIndex = (currentIndex + 1) % showcaseTexts.length;
        updateShowcase(currentIndex);
    }

    // Starte das Autoplay mit einer festgelegten Zeitverzögerung (z.B. 3000 Millisekunden)
    const autoplayInterval = setInterval(autoplay, 3000);

    // Stoppe das Autoplay, wenn auf ein Listenelement geklickt wird
    showcaseTexts.forEach((text, index) => {
        text.addEventListener('click', function() {
            clearInterval(autoplayInterval); // Stoppe das Autoplay
            currentIndex = index; // Setze den Index auf das ausgewählte Listenelement
            updateShowcase(currentIndex); // Aktualisiere das Anzeigebild und das aktive Listenelement
        });
    });
});
</script>

{% schema %}
  {
    "name": "Feature Showcase Section",
    "tag": "section",
    "class": "section feauture-showcase-section",
    "settings": [
        {
            "type": "inline_richtext",
            "id": "title",
            "default": "Hier kommt deine Überschrifft",
            "label": "Überschrifft"
        },
        {
            "type": "inline_richtext",
            "id": "description",
            "default": "Hier kommt deine beschreibung",
            "label": "Beschreibung"
        },
        {
            "type": "color",
            "id": "background_color",
            "default": "#fff",
            "label": "Hintergrund Farbe"
        }
    ],
    "blocks": [
        {
            "type": "showcase_block",
            "name": "Showcase Block",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Showcase Image",
                    "id": "showcase_image"
                },
                {
                    "type": "inline_richtext",
                    "id": "title",
                    "default": "hier komt deine Überschrifft",
                    "label": "Überschrifft"
                },
                {
                    "type": "inline_richtext",
                    "id": "description",
                    "default": "Hier kommt deine beschreibung",
                    "label": "Beschreibung"
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "Feauture Showcase Section"
    }
  ]
  }
{% endschema %}
