{% comment %}
  template-featured-collection.liquid
  ---------------------------
  Dieses Template dient zur Darstellung eines "Collection List"-Abschnitts.
{% endcomment %}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'template-featured-collection.css' | asset_url | stylesheet_tag }}

{% style %}
  .featured-collection-list{
    background-color: {{ section.settings.background_color }} !important;
  }
{% endstyle %}

<div class="featured-collection-list section-{{ section.id }}">
  <div class="page-width" data-aos="zoom-in" data-aos-duration="350">
    <div class="title">
      {% if section.settings.title != blank %}
        {% assign titleAlign = section.settings.title_align %}
        <h2 class="title{% if titleAlign %} text-{{ titleAlign }}{% endif %}">
          {{ section.settings.title }}
        </h2>
      {% endif %}
    </div>

    <div class="description">
      {% if section.settings.description != blank %}
        <h5 class="description{% if titleAlign %} text-{{ titleAlign }}{% endif %}">
          {{ section.settings.description }}
        </h5>
      {% endif %}
    </div>

    <div class="collections-list">
      {% for block in section.blocks %}
        {% if block.type == 'collection_block' %}
          {% assign collection = block.settings.collection %}
          {% assign collectionImage = block.settings.collection_image %}

          <a href="{{ collection.url }}">
            <div class="collections-list-scale">
              <div class="collection-item">
                <div class="collection-image">
                  {% if collectionImage != blank %}
                    <img src="{{ collectionImage | img_url: 'medium' }}" alt="{{ collection.title }} Image">
                  {% else %}
                    {{ 'collection-6' | placeholder_svg_tag }}
                  {% endif %}
                </div>
                
                <h3 class="collection-title">{{ collection.title }}</h3>
                <h5 class="collection-description">Shop {{ collection.title }}</h5>
              </div>
            </div>
          </a>
         

        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Collection Sammlung",
  "tag": "section",
  "class": "section featured-collection-list",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "default": "Beschreibung",
      "label": "Beschreibung"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#fff",
      "label": "Hintergrund Farbe"
    },
    {
      "type": "select",
      "id": "title_align",
      "label": "t:sections.featured-collection.settings.title_align.label",
      "options": [
        { "value": "left", "label": "t:sections.featured-collection.settings.title_align.options__1.label" },
        { "value": "center", "label": "t:sections.featured-collection.settings.title_align.options__2.label" },
        { "value": "right", "label": "t:sections.featured-collection.settings.title_align.options__3.label" }
      ],
      "default": "center"
    }
  ],
  "blocks": [
  {
    "type": "collection_block",
    "name": "Collection Block",
    "settings": [
      {
        "type": "collection",
        "label": "Collection",
        "id": "collection"
      },
      {
        "type": "image_picker",
        "label": "Collection Image",
        "id": "collection_image"
      }
      // Weitere Einstellungen für den Collection-Block können hier hinzugefügt werden
    ]
  }
],
  "presets": [
    {
      "name": "Katalog Sammlung"
    }
  ]
}
{% endschema %}
