{% comment %}
  template-header.liquid
  ---------------------------
  Dieses Template dient zur Darstellung eines "Navigation"-Abschnitts.
{% endcomment %}
{{ 'template-header.css' | asset_url | stylesheet_tag }}
      
<a href="" class="brand">{{shop.name}}</a>
<ul class="menu-links">
  <div class="menu-toggle">
    <i class='bx bx-x close-btn'></i>
  </div>
  {% for link in section.settings.menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
</ul>

<div class="menu-icons">
  <div class="menu-icon-menu">
    {% if section.settings.searchform == true %}
      <i class="bx bx-search"></i>
    {% endif %}
    <a href="{{ routes.account_login_url}}">
      <i class="bx bx-user"></i>
    </a>
  </div>
  <a href="{% if settings.cart_type == "drawer" %}#{% else %}{{ routes.cart_url }}{% endif %}">
    <i class="bx bx-shopping-bag badge-count" data-bag="{{ cart.item_count }}"></i>
  </a>
  <div class="menu-toggle">
    <i class="bx bx-menu open-btn"></i>
  </div>
</div>

<script type="text/javascript">
  window.addEventListener("scroll", function() {
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0);
  })

  //Javascript for responsive navigation sidebar menu
  var menu = document.querySelector("ul.menu-links");
  var menuBtn = document.querySelector(".open-btn");
  var closeBtn = document.querySelector(".close-btn");

  menuBtn.addEventListener("click", () => {
    menu.classList.add("active");
  })

  closeBtn.addEventListener("click", () => {
    menu.classList.remove("active");
  })
</script>
{% schema %}
  {
    "name": "t:sections.header.name",
    "tag":"header",
    "class":"navigation",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
      }, {
        "type": "checkbox",
        "id": "searchform",
        "default": true,
        "label": "t:sections.header.settings.searchform.label"
      }
    ]
  }
{% endschema %}