{{ 'section-text-with-icons.css' | asset_url | stylesheet_tag }}

<div
  class="text-with-icons"
  data-section-id="{{ section.id }}"
  data-section-type="text-with-icons"
>
  <div class="swiper">
    <div
      class="text-with-icons__blocks--{{ section.id }}"
      data-block-count="{{ section.blocks.size }}"
    >
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div
            class="text-with-icons__block text-{{ section.settings.align_text }} swiper-slide"
            {{ block.shopify_attributes }}
          >
            <div class="text-with-icons__block-icon">
              {% case block.settings.icon %}
                {% when 'chat' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h1zM4 8h12v8h-5.277L7 18.234V16H4V8z"></path><path d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"></path>
                  </svg>
                {% when 'wallet' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M16 12h2v4h-2z"></path><path d="M20 7V5c0-1.103-.897-2-2-2H5C3.346 3 2 4.346 2 6v12c0 2.201 1.794 3 3 3h15c1.103 0 2-.897 2-2V9c0-1.103-.897-2-2-2zM5 5h13v2H5a1.001 1.001 0 0 1 0-2zm15 14H5.012C4.55 18.988 4 18.805 4 18V8.815c.314.113.647.185 1 .185h15v10z"></path>
                  </svg>
                {% when 'calendar' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M7 11h2v2H7zm0 4h2v2H7zm4-4h2v2h-2zm0 4h2v2h-2zm4-4h2v2h-2zm0 4h2v2h-2z"></path><path d="M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM19 8l.001 12H5V8h14z"></path>
                  </svg>
                {% when 'cart' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle>
                  </svg>
                {% when 'package' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M22 8a.76.76 0 0 0 0-.21v-.08a.77.77 0 0 0-.07-.16.35.35 0 0 0-.05-.08l-.1-.13-.08-.06-.12-.09-9-5a1 1 0 0 0-1 0l-9 5-.09.07-.11.08a.41.41 0 0 0-.07.11.39.39 0 0 0-.08.1.59.59 0 0 0-.06.14.3.3 0 0 0 0 .1A.76.76 0 0 0 2 8v8a1 1 0 0 0 .52.87l9 5a.75.75 0 0 0 .13.06h.1a1.06 1.06 0 0 0 .5 0h.1l.14-.06 9-5A1 1 0 0 0 22 16V8zm-10 3.87L5.06 8l2.76-1.52 6.83 3.9zm0-7.72L18.94 8 16.7 9.25 9.87 5.34zM4 9.7l7 3.92v5.68l-7-3.89zm9 9.6v-5.68l3-1.68V15l2-1v-3.18l2-1.11v5.7z"></path>
                  </svg>
                {% when 'mail' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path>
                  </svg>
                {% when 'phone' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z"></path>
                  </svg>
                {% when 'lock' %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                    <path d="M12 2C9.243 2 7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v2H9V7zm9.002 13H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z"></path>
                  </svg>

                {% else %}

              {% endcase %}
            </div>
            <div class="text-with-icons__block-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            <div class="text-with-icons__block-text">
              {{ block.settings.text }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<script>
  var swiper = new Swiper('.text-with-icons__blocks--{{ section.id }}', {
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      520: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 4,
      },
    },
  });
</script>

{% schema %}
{
  "name": "t:sections.text_with_icon.name",
  "tag": "section",
  "class": "section section-text-with-icons",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.text_with_icon.settings.title.label"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "t:sections.text_with_icon.settings.align_text.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.text_with_icon.settings.align_text.options.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.text_with_icon.settings.align_text.options.center.label"
        }
      ]
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "t:sections.text_with_icon.settings.icon_color.label",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "t:sections.text_with_icon.blocks.block.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.text_with_icon.blocks.block.settings.icon.label",
          "default": "chat",
          "options": [
            {
              "value": "chat",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.chat.label"
            },
            {
              "value": "wallet",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.wallet.label"
            },
            {
              "value": "calendar",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.calendar.label"
            },
            {
              "value": "cart",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.cart.label"
            },
            {
              "value": "package",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.package.label"
            },
            {
              "value": "mail",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.mail.label"
            },
            {
              "value": "phone",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.phone.label"
            },
            {
              "value": "lock",
              "label": "t:sections.text_with_icon.blocks.block.settings.icon.options.lock.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.text_with_icon.blocks.block.settings.title.label",
          "default": "Example title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.text_with_icon.blocks.block.settings.text.label",
          "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text_with_icon.presets.text_with_icon.name"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
